<div class="container">

  <h1>Greetings<h1>

  <a class="add" href="/greetings/add">Add name to be greeted</a>

  <ul>
   {{#each greetings}}
   <a href="counter/{{this}}"><li>{{this}}</li>
   {{/each}}
  </ul>
<div>
